*{

    box-sizing: border-box;

}

.carta{

    margin: 50px 50px;
    border: 1px solid white;
    width: 240px;
    height: 340px;
    background-color: white;
    border-radius: 30px;


}
img{
    display: block;
    position:absolute;
    border-radius: 20px;
     z-index: 1; 
}
.tasto{
    color: #ffffffc5;
    position: relative;
    top: 8px;
    margin: 8px;
    width: 30px;

}

.salva{
    left: 150px;
    width: 70px;
    padding: 8px 0;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 10px;


}
.impostazioni{
    left: 180px;
    /* width: 30px; */
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 10px;
    top: 170px;
}
.scarica{
    left: 150px;
    background-color: white;
    color: black;
    margin: 0;
    top: 235px;
    text-align: center;
    border-radius: 150px;
    /* width: 30px; */
    height: 20px;

}
.sito{
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    width: 120px;
    height: 30px;
    margin-right: 0;
    top: 200px;
    border-radius: 20px;
   text-overflow: ellipsis;
   overflow: hidden;
    /* background: url(https://www.pinterest.it);  */
}
.img:hover{

     z-index: 0;
    cursor: pointer;

    transition: 1s linear .0.5s;
}
.overlay{
    
    z-index: 0;
    position: absolute; 
 
  background-color:transparent; 
  cursor: pointer; 

}
